@media (max-width: 575.98px) {

}

@media (min-width: 576px) and (max-width: 767.98px) {

}

@media (min-width: 768px) and (max-width: 991.98px) {

}

@media (min-width: 992px) and (max-width: 1199.98px) {

}

@media (min-width: 1200px) {

    .get_started{
        width: 1141px;
        height: 546px;
    }

    .card-title.font-weight-bold.size-title-getStarted{
        font-size: 48px;
    }

    .card-group.mx-auto.getStarted-year{
        margin-top: 15%;
        margin-left: 50%;
    }

    .card-title.font-weight-bold{
        font-size: 48px;
    }
    .card-text.font-weight-bold.title-count{
        font-size: 18px;
    }

    .card.col-lg-4.car-form-service{
        width: 415px;
        height: 551px;
        margin-top: -20px;
        margin-right: -50px;

    }
}


