.size-card{
    border: none;

}
.content{
    background-color: rgba(15,15,15,0.5);
}
@media (max-width: 575.98px) {

}

@media (min-width: 576px) and (max-width: 767.98px) {

}

@media (min-width: 768px) and (max-width: 991.98px) {

}

@media (min-width: 992px) and (max-width: 1199.98px) {

}

@media (min-width: 1200px) {
    .size-card-1{
        width: 470px;
        height: 325px;
    }
    .size-card-2{
        width: 670px;
        height: 325px;
    }
    .size-card-3{
        width: 570px;
        height: 325px;
    }
    .card-margin{
       margin-left: 150px;
    }
    .content{
        padding-top:170px;
    }
}


